* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
  scroll-behavior: smooth;
  list-style: none;
  text-decoration: none;
}
*::selection {
  background: #ff702a;
  color: #fff;
}
body {
  color: #3a3a3a;
  background: #fff;
}
header {
  position: fixed;
  top: 0;
  right: 0;
  height: 90px;
  width: 100%;
  z-index: 1000;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 30px 90px;
  background: #1e1c2a;
}

.logo {
  color: #ff702a;
  font-weight: 600;
  font-size: 2.4rem;
}
.navbar {
  display: flex;
}
.navbar a {
  color: #fff;
  font-size: 1.1rem;
  padding: 10px 20px;
  font-weight: 500;
}

.navbar button {
  font-size: 1.1rem;
  padding: 5px 1px;
  margin-top: -15px;
  border-radius: 12px;
  border: none;
  padding: 10px;
  transition: transform 0.2s;
  background-color: #ff702a;
}

.navbar button:hover {
  background-color: #ff702a;
  transform: scale(1.1);
}
.navbar button a {
  font-weight: bold;
  color: rgb(37, 37, 37);
  padding: 10px;
}

.navbar button a:hover {
  color: black;
}
.navbar a:hover {
  color: #ff702a;
  transition: border-bottom 0.4s ease;
}

section {
  padding: 90px;
}

/* home utama */
.utama {
  /* width: 100%; */
  min-height: 90vh;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 5.5rem;
  align-items: center;
}

.utama-img img {
  /* max-width: 100%; */
  width: 640px;
  height: auto;
  margin-top: 90px;
}

.utama-text h1 {
  font-size: 2rem;
  color: #1e1c2a;
  margin: 0.2rem;
  font-weight: 1200px;
  padding-bottom: 20px;
}

.utama-text .tombol {
  position: relative;
  padding: 10px;
  border-radius: 5px;
  border: none;
  padding: 10px;
  transition: transform 0.2s;
  background-color: #ff702a;
  color: white;
  font-weight: bold;
  margin-bottom: 30px;
  cursor: pointer;
  font-size: 1.09rem;
}

.utama-text .tombol:hover {
  transform: scale(1.05);
  background-color: #c24a0e;
}

.utama-text p {
  font-size: 1.2rem;
  color: #1e1c2a;
  font-weight: 300px;
  margin-bottom: 10px;
  padding-bottom: 10px;
}
.utama-text .tombol2 {
  position: relative;
  padding: 10px;
  border-radius: 5px;
  border: none;
  font-weight: bold;
  margin-bottom: 30px;
  cursor: pointer;
  font-size: 1.09rem;
  color: #3a3a3a;
  transition: transform 0.2s;
}

.utama-text .tombol2:hover {
  background-color: #1e1c2a;
  color: #fff;
}

/* 7 gambar baris */
.image-row {
  display: flex;
  justify-content: center;
  cursor: pointer;
  position: relative;
}

.image-row img {
  margin: 0 15px;
  transition: transform 0.2s;
}

.image-row img:hover {
  transform: scale(1.1);
}

/* home utama */
.About {
  /* width: 100%; */
  min-height: 90vh;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 5.5rem;
  align-items: center;
}

.About-img img {
  /* max-width: 100%; */
  width: 640px;
  height: auto;
}
.About-text {
  text-align: justify;
}
.About-text h1 {
  font-size: 2rem;
  color: #1e1c2a;
  margin: 0.2rem;
}

/* Futures */
#Futures {
  margin-top: -99px;
  justify-content: center;
}

#Futures h1 {
  padding-bottom: 12px;
  text-align: center;
}
#Futures p {
  text-align: center;
  padding: 12px;
  margin: 9px;
}

#Futures .image-row img {
  display: flex;
  justify-content: center;
  padding: 15px;
  cursor: pointer;
  transition: transform 0.2s;
}

#Futures .image-row img:hover {
  transform: scale(1.02);
}

/* video */
iframe {
  position: relative;
  top: 304px;
  left: 50%;
  transform: translate(-50%, -50%);
}

/* footer */
footer {
  background-color: #1e1c2a;
  color: white;
  height: 90%;
}

#ContactUs {
  display: flex;
}

#ContactUs h2 {
  margin-top: 0;
  padding-bottom: 20px;
}

#ContactUs ul {
  list-style: none;
  margin: 0;
  padding: 15px;
}

#ContactUs li {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
  padding-bottom: 13px;
}

#ContactUs img {
  height: 25px;
  margin-right: 10px;
}

#ContactUs a {
  color: white;
}

footer p {
  position: relative;
  text-align: center;
  padding-bottom: 9px;
}

/*Cars Page*/
.heading h2 {
  text-align: center;
  padding-top: 50px;
  margin: 0;
  color:#ff702a;
}

.heading h3 {
  text-align: center;
}

.container {
  padding: 20px;
  margin: auto;
}

.row-list {
  display: grid;
  grid-template-columns: repeat(
    4,
    1fr
  ); /* Mengatur 2 kolom dengan lebar yang sama */
  grid-gap: 20px; /* Jarak antar kolom */
}

.row-list,
.row-list > .column-cars {
  padding: 8px;
}

.column-cars {
}

.row-list::after {
  content: "";
  display: table;
  clear: both;
}

.content {
  background-color: rgb(255, 255, 255);
  padding: 10px;
  transition: transform 0.2s;
}

.content:hover {
  border: #ff702a 1px solid;
  transform: scale(1.1);
}

.content img {
  width: 100%;
  height: 200px;
  border-radius: 5px;
}

.content button {
  border: none;
  padding: 10px;
  margin-top: 10px;
  transition: transform 0.2s;
  background-color: #ff702a;
  color: white;
  font-weight: bold;
  cursor: pointer;
  font-size: 1.09rem;
}

.content button:hover {
  transform: scale(1.05);
  background-color: #c24a0e;
}

/* Contact */
.contact {
  max-width: 1400px;
  display: flex;
  padding: 20px;
  gap: 50px;
  justify-content: center;
  
}

.info {
  max-width: 500px;
  border: 1px solid;
  border-radius: 5px;
  padding: 10px;
}

.contact .form {
  max-width: 500px;
}

.contact .form input {
  padding: 10px;
  margin: 10px;
  box-sizing: border-box;
}

